MONGO_URL = 
# MONGO_URL = mongodb+srv://cycy:mongocyrusdb@cluster0.jfyd87a.mongodb.net/himalayanchess?retryWrites=true&w=majority&appName=Cluster0
AUTH_SECRET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=
GMAIL_EMAIL_ADDRESS = 
GMAIL_APP_PASSWORD = 

SUPERADMIN_GMAIL_ADDRESS = 
CRON_SECRET = 
# for api call inside auth.ts
NEXTAUTH_URL=http://localhost:3000
# NEXTAUTH_URL=

# for nodemailer
# 3. Generate an App Password
# To generate an app password for your Gmail account, follow these steps:

# Go to your Google Account Settings: Google Account.

# Navigate to the Security section.

# Under Signing in to Google, find and enable 2-Step Verification if you haven't already.

# Once 2-Step Verification is enabled, you'll see the App Passwords option.

# Select App Passwords and follow the instructions to generate a unique password for your application.