@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Font */
* {
  font-family: "Poppins", sans-serif;
  /* Uncomment below to use Roboto */
  /* font-family: "Roboto", sans-serif; */
}

/* Input Text Color */
input {
  color: black;
}

/* Background Color */
body {
  /* overflow-x: hidden; */
  background-color: rgb(240, 240, 240);
}

/* Global Scrollbar Styling */
*::-webkit-scrollbar {
  width: 5px; /* Width of the vertical Scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}
*::-webkit-scrollbar-thumb {
  background: rgb(162, 162, 162); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Remove the scrollbar arrows for WebKit browsers */
*::-webkit-scrollbar-button {
  display: none; /* Hides the arrows */
}
