@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Font */
/* * {
  font-family: "Poppins", sans-serif; 
   Uncomment below to use Roboto 
  font-family: "Roboto", sans-serif; 
} */

.logo-title {
  font-family: "IBM Plex Serif", serif;

  /* matching font */
  /* font-family: "Gravitas One", serif; */

  /* background: red; */
}

/* Input Text Color */
input {
  color: black;
}

/* Background Color */
body {
  /* overflow-x: hidden; */
  background-color: rgb(229, 231, 235);
}

/* Global Scrollbar Styling */
*::-webkit-scrollbar {
  width: 5px; /* Width of the vertical Scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}
*::-webkit-scrollbar-thumb {
  background: rgb(162, 162, 162); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Remove the scrollbar arrows for WebKit browsers */
*::-webkit-scrollbar-button {
  display: none; /* Hides the arrows */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
